################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalculatorTestApp.Specs/obj/Debug
/CalculatorTestApp.Specs/bin/Debug
